#selectDiv{
margin-left:30%;
margin-right:30%;
margin-top:3%;
height:50em;
border-radius: 5em;
background-color: rgba(255,255,255,0.6); 
}
h1{
	
	text-align:center;
	padding-top:1%;
	color:rgba(255,255,255,0.6);
	padding-left:5%;
	padding-right:5%;
}
h4{
	padding-left:0.5%;
}
select{
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
  
}




body{
	background-image:url("1.jpg"); 

}
#clearlocal
{
	float:right;
	width:10em;
	height:4em;
	border-radius: 3em;
    right:0;
	bottom:0;
	position:absolute;
}


#choose {
  width: 500px;
  height: 50px;
  position: absolute;
 
}



#deleteCookie{
	float:left;
	width:10em;
	height:4em;
	border-radius: 3em;
    left:0;
	bottom:0;
	position:absolute;
	
}
#image{
 width: 300px;
  height: 300px;
  position:absolute;
 
  top:500px;
 
 
}